<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <link rel="stylesheet" href="/Static/css/custom.css">
     <title>Custom Dresses</title>
</head>
<body>
     <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light ">
             <a class="navbar-brand" href="#">Baby Panda</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
     
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav ml-auto topnav">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn  my-2 my-sm-0" type="submit">Search</button>
                      </form>
                     <li class="nav-item active">
                         <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/Component/about.html">About</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/Component/shop.html">Shop </a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/Component/custom.html">Custom</a>
                     </li>
                     <li class="nav-item">
                      <a class="nav-link" href="/Component/contact.html">Contact Us</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/Component/shipping.html">Shipping</a>
                      </li>
                      <li class="nav-item">
                       <a class="nav-link" href="/Component/payment.html">Payment</a>
                       </li>
                     <li class="nav-item">
                         <a class="nav-link btn    " type="button" href="#" data-toggle="modal" data-target="#myModal">Sign In</a>                  
                     </li>
                     <li class="nav-item">
                         <a class="nav-link btn    " type="button" href="#" data-toggle="modal" data-target="#myModal">Register</a>
                     </li>
                 </ul>
             </div>
     
                 <!-- The Modal -->
         <div class="modal" id="myModal">
             <div class="modal-dialog">
                 <div class="modal-content">
     
                     <!-- Modal Header -->
                     <div class="modal-header">
                         <h4 class="modal-title">Customer Sign In</h4>
                         <button type="button" class="close" data-dismiss="modal">×</button>
                     </div>
     
                     <!-- Modal body -->
                     <div class="modal-body">
                         <form>
                             <label class="sr-only" for="usrname">Username</label>
                             <div class="input-group mb-3">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                 </div>
                                 <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                             </div>
     
     
                             <label class="sr-only" for="Password">Name</label>
                             <div class="input-group mb-2">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text" id="basic-addon2"><i class="fa fa-key"></i></span>
                                 </div>
                                 <input id="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                             </div>
                         </form>
                     </div>
     
                     <!-- Modal footer -->
                     <div class="modal-footer">
                         <button type="submit" class="btn btn-primary" >Sign In</button>
                         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                     </div>
     
                 </div>
             </div>
         </div>
                 
     
         </nav>
     </div>


     <div class="customBody container container-fluid">
          <div class="banner container-fluid p-4">
                <h2 class="text-center">Heading of the page</h2>
                <h4 class="text-center">Sub heading of the page</h4>
                <p class="text-center">Description of the page Lorem ipsum 
                     dolor sit amet consectetur adipisicing elit. Delectus, quae officiis! Commodi?
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae porro voluptas quidem.
                </p>
                <div class="container-fluid d-flex justify-content-center mx-auto">
                    <a href='/Component/shop.html'> <button type="submit" class="btn mx-4 btn-primary">Order Now</button></a>
                    <button type="submit" class="btn mx-4 btn-success">Whats App</button>
                </div>

          </div>
          <!-- <div class="container-fluid">
               <div class="customContent position-relative bottom-50 row mx-auto">
                    <div class="slideImg col-md-6">
     
                    </div>
                    <div class=" desc col-md-6">
                         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis consequuntur, neque quis recusandae 
                              aspernatur soluta corrupti reprehenderit nobis quia veniam odit
                               rem at delectus sequi consectetur dignissimos officiis debitis tenetur fugit eius pariatur quidem?
                         </p>
                    </div>
               </div>
          </div> -->
          <h2 class="text-center my-4">CUSTOM MADE DRESSES</h2>
          <div class="row my-4">
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               <div class="gridSection box col-md-3 my-4 ">
                    <a href="/index.html">
                         <img class="img-fluid " src="/img/pic3.webp" alt="none">
                    </a>
               </div>
               
          </div>
          <a class="ct-u-marginTop60 btn btn-solodev-red-reversed btn-fullWidth-sm ct-u-size19" href="/Component/shop.html">SHOP NOW</a>
          <!-- section 2 -->
          <div class="customDresses container-fluid">
               <h2 class="text-center my-4">CUSTOM MADE DAY ACCESSORIES</h2>
               <div class="row my-4">
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
                    <div class="gridSection box col-md-3 my-4 ">
                         <a href="/index.html">
                              <img class="img-fluid " src="/img/pic3.webp" alt="none">
                         </a>
                    </div>
               </div>
               <a class="ct-u-marginTop60 btn btn-solodev-red-reversed btn-fullWidth-sm ct-u-size19" href="/Component/shop.html">SHOP NOW</a>
          </div>
<br><br>
<div><h2>Customization Form</h2></div>
<br><br>
     <section>
          <form>
               <div class="row">
                 <div class="col-sm-6 form-group">
                   <label class="sr-only">First Name *</label>
                   <input class="form-control" placeholder="First Name *" type="text">
                 </div>
                 <div class="col-sm-6 form-group">
                   <label class="sr-only">Last Name *</label>
                   <input class="form-control" placeholder="Last Name *" type="text">
                 </div>
               </div>
               <div class="row">
                 <div class="col-sm-6 form-group">
                   <label class="sr-only">Title *</label>
                   <input class="form-control" placeholder="Title *" type="text">
                 </div>
                 <div class="col-sm-6 form-group">
                   <label class="sr-only">Company *</label>
                   <input class="form-control" placeholder="Company *" type="text">
                 </div>
               </div>
               <div class="row">
                 <div class="col-sm-5 form-group">
                   <label class="sr-only">City *</label>
                   <input class="form-control" placeholder="City *" type="text">
                 </div>
                 <div class="col-sm-4 form-group">
                   <label class="sr-only">Zip *</label>
                   <input class="form-control" placeholder="Zip *" type="text">
                 </div>
               </div>
               <div class="row">
                 <div class="col-sm-6 form-group">
                   <label class="sr-only">Email *</label>
                   <input class="form-control" placeholder="Email *" type="email">
                 </div>
                 <div class="col-sm-6 form-group">
                   <label class="sr-only">Phone *</label>
                   <input class="form-control" placeholder="Phone *" type="text">
                 </div>
               </div>
               <div class="row">
                 <div class="col-sm-12 form-group">
                   <label class="sr-only">Your Message</label>
                   <textarea rows="7" class="form-control" placeholder="Enter you unique and personalised customization details here" cols="10"></textarea>
                   <div class="row">
                    <div class="col-sm-12 form-group"><input class="btn btn-lg" type="submit" /></div>
                    </div>
             </form>
     </section>







          
     </div>
     <section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
          <div class="container">
            
            </div>
            <div class="row ct-u-paddingBoth20">
              <div class="col-xs-6 col-md-4">
                <div class="company-icons-white">
                
                  <p>PAYMENT METHOD INFO</p>
                  <p class="company-icons-subtext hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
              <div class="col-xs-6 col-md-4">
                <div class="company-icons-white">
                 
                  <p>CONTACT US</p>
                  <p class="company-icons-subtext hidden-xs">Praesent sed libero vel ex maximus vulputate nec eu ligula.</p>
                </div>
              </div>
              <div class="col-xs-6 col-md-4">
                <div class="company-icons-white">
                  
                  <p>PRODUCT</p>
                  <p class="company-icons-subtext hidden-xs">Vestibulum elementum nisi ut fermentum lobortis.</p>
                </div>
              </div>
            </div>
            <div class="row ct-u-paddingBoth20">
              <div class="col-xs-6 col-md-4">
                <div class="company-icons-white">
                  
                  <p>SHIPPING </p>
                  <p class="company-icons-subtext hidden-xs">Nullam bibendum felis non laoreet rutrum.</p>
                </div>
              </div>
              <div class="col-xs-6 col-md-4">
                <div class="company-icons-white">
                 
                  <p>COMPANY INFO</p>
                  <p class="company-icons-subtext hidden-xs">Etiam diam mi, lacinia eu sapien in, dapibus sodales erat.</p>
                </div>
              </div>
              <div class="col-xs-6 col-md-4">
                <div class="company-icons-white">
                 
                  <p>FOLLOW US TO GET UPDATES</p>
                  <p class="company-icons-subtext hidden-xs">Etiam varius porttitor tellus et aliquet.</p>
                </div>
              </div>
            </div>
            <a class="ct-u-marginTop60 btn btn-solodev-red-reversed btn-fullWidth-sm ct-u-size19" href="/Component/shop.html">SHOP NOW</a>
          </div>
        </section>
</body>
</html>